@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --azul-claro:#0198ff;
    --branco: #FFFF;
    --azul: #0030b9;
    --azul-escuro: #001074;
    --cinza-claro: #F6F9FC;
    --verde: #8ebf30;
    --preto: rgba(0, 0, 0, 0.87)
}

.btn {
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#dropdownMenuLink {
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.teste {
    padding-left: 10px;
}

#create {
    position: absolute;
    top:98.4%;
    left: 32.5%;
    width: 150px;
}

#logoasinha {
    position: absolute;
    top: 18%;
    left: 59%;
    width: 600px;
}
#logouser {
    position: absolute;
    top: 23%;
    left: 61.6%;
    width: 500px;
}

#logocobranca {
    position: absolute;
    top: 17.5%;
    left: 70.5%;
    width: 400px;
}

#createPayment {
    position: absolute;
    top:103.5%;
    left:48%;
    width: 150px;
}

#backPayment {
    position: absolute;
    top:103.5%;
    left:1%;
    width: 150px;
}

#backPayer {
    position: absolute;
    top: 98.5%;
    left:0%;
    width: 150px;
}

#createFormCustomer {
    position: absolute;
    left:7%;
}

#createCobranca {
    position: absolute;
    top:15%;
    left:7%;
}

#card-header-title-payment {
    height: 25px;
    width: 400px;
    top:.5%;
}

#card-header-payment {
    width: 1030px;
}